/*GENERAL*/
*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family:sans-serif;
}


ul {
  list-style: none;
}

a  {
  text-decoration: none;
  color:black;
}

.text p{
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(13%, 50%);
  font-size: 75px;
  color: rgb(107, 219, 253);
}

.wrapper {
  width: 820px;
  margin: 0 auto;
} 

h2 {
  color:rgb(255, 255, 255);
  font-size: 50px;
}

h3 {
  color:rgb(0, 0, 0);
  font-size: 24px;
}

 a h4  {
  text-transform: uppercase;
}

#main-image {
  width: 80%;
  padding: 10%;
  position: relative;
  height: 80vh;
  background-size: cover;
  background-position: 25%;
  display:flex;
  align-items: center;
  justify-content:center;
  background-image: url(/images/backgrounds/setup3.jpg);
}


#main-image h2 {
  font-weight: normal;
  text-align: center;
  margin-top: -255px;
}

.Button-1 {
  position: relative;
  transform: translate(127%, -55%);
  left: 173px;
  top:55px;
  display: block;
  width: 120px;
  height: 50px;
  background-color: rgb(16, 148, 180);
  color:rgb(255, 255, 255);
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  border-radius: 20px;
}

.section-title small { 
  font-size: 17px;
  font-style: italic;
  
}

.section-title h3 {
  margin-top: 10px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 3px;
  font-weight: bold;
}

.section-title p{
  text-align: center;
  margin-bottom: 20px;
}

.bleu
{
  color: rgb(16, 148, 180);
}
.clear{
  clear: both;
}

/* Projets*/

article {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content:center;

}

#Projets {
  background-color: rgb(214, 234, 243);
  padding: 0px 0;
}

#Projets article {
  width: 375px;
  height: 270px;
 float: left;
  border-radius: 10px;
  margin-top: 15px;  
}


#Projets article:first-child {
  margin-right: 30px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.overlay {
  background: rgba(225, 244, 255, 0.74);
  height:85%;
  width: 190px;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  text-align: center;
  margin-right: auto;
}

article h4{
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

#Projets p {
  text-align: center;
  margin-bottom: 20px;
}

.Button-2 {
  color:#fff;
  background-color: rgb(53, 143, 196);
  padding: 6px 20px;
  border-radius: 3px;
  margin:10px;
}

.Button-2:hover {
  color:#fff;
  background-color: rgb(59, 87, 104);
  padding: 6px 20px;
  border-radius: 3px;
  margin:10px;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  max-width: 250px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

img {
  max-width: 100%;
} 

/* 48em = 768px */

@media (min-width: 48em) {
  .header li  {
    float: left;
  }

  h1 {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

}

/*main-image mobiles*/

@media screen and (max-width: 768px) {
  .container {
  max-width: 10px;
}
.wrapper {
max-width: 375px;
}

#main-image h2 {
  font-weight: normal;
  text-align: center;
  margin-top: -140px;
  font-size: 25px;
}
.text{
  font-weight: bold;
  text-align: center;
  position: absolute;
  transform: translate(0%, 25%);
  top: 60%;
  left: 15px;
  color:rgb(0, 0, 0);
  font-size: 36px;
}
.Button-1 {
  position: relative;
  transform: translate(-40%, -55%);
  left: 173px;
  top:55px;
  display: block;
  width: 120px;
  height: 50px;
  background-color: rgb(16, 148, 180);
  color:rgb(255, 255, 255);
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  border-radius: 20px;
}


}
/*pied de pages*/
footer {
  text-align: center;
  background:#ccc;
bottom:0;
width:100%;
padding-top:50px;
height:50px;
}
/*nav {
  width: auto;
  text-align: left;
}
 
nav ul {
  flex-direction: column;
}

nav li {
  padding-left: 4px;
}
nav a:hover {
  border-bottom: 0;
}

#main-image {
  display: none;
}