/*GENERAL*/

*{
    margin: 0px;
    padding: 0px
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

  .bleu
  {
    color: rgb(16, 148, 180);
  }

ul {
    list-style: none;
    
  }
  
  a {
  text-decoration: none;
  color:black;
  }


  .wrapper {
    width: 980px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  h1{
    font-size: 45px;
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

P small {
  margin-top: 10px;
  font-family: Arial;
  margin-top: 16px;
  font-size: 16px;
}
  
  
/*HEADER*/

header{
    height: 120px
  }
  
  header h1 {
  float: left;
  margin-top: 32px;
  }
  
  header nav {
    float: right;
    margin-top: 50px;
  }
  
  header nav ul li {
   /* float: left;*/
    display:inline-block;
  }
  
  header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
  }


   /*img*/
   #Projets img {
    width: 48%;
    margin-left: auto;
    margin-top: 50px;

  }

  img {
    vertical-align: middle;
    border-style: none;
}


/*pied de pages*/
footer {
  text-align: center;
  background:#ccc;
bottom:0;
width:100%;
padding-top:50px;
height:50px;
}

 